
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin:0px;
  font-family: 'Josefin Sans', sans-serif;
background: #E0E0E0;
}
/* background: url("https://mk0spaceflightnoa02a.kinstacdn.com/wp-content/uploads/2020/03/crs20_streak1.jpg"); */
a {
  text-decoration: none;
  color: inherit;
}
h5{
  font-weight: normal;
}

/* =======================================
                    BANNER
==========================================*/
.next-launch-box{
  border-bottom: 1px solid white;
  background: #E0E0E0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.main_cover{
  margin-bottom: 20px;
}
.banner .main_cover {
  background: url("https://mk0spaceflightnoa02a.kinstacdn.com/wp-content/uploads/2020/03/crs20_streak1.jpg");
  height: 650px;
  position: relative;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 25% 75%; 
  margin-left: 389px;
 margin-bottom: 20px;

}

.banner .logo {
 background-color: #181C1F;
  position: absolute;
  top: 80%;
  left: -7%;
  width: 100%;
  height: 62px;
  color: #fff;
  font-size: 13px;
 
  display: flex;
  justify-content: space-around;
 
}

.card-left {
align-self: center;
padding: 10px 0px 10px 40px;
font-size: 2rem;
color:#9FA1A2;
}

.card-right {
  align-self: center;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  line-height: 1.5em;
  
  }
.card-right span{
  display: block;
  text-align: center;
}
.card-right div{
  border-left:2px solid grey;
  padding-left: 40px;
}
.card-right div :first-child{
  color:#A3A6AA;

}
.card-right div :last-child{
  color:  rgb(209, 212, 216);
}



/* =======================================
                    HEADER
==========================================*/

header {
  font-size: 33px;
  color: #DFDFDF;
  position: absolute;
  top: 10px;
  left: -14px;
  z-index: 2;

}
header img{
  width: 580px;
  height:160px;
}


/* =======================================
                   CARD
==========================================*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  opacity: 1;
  width:270px;
  border-bottom:2px solid #005288;
  border-radius: 5px;
  margin:10px;
}
.card img{
  width:270px;
  height:330px;
  object-fit: cover;
  }
 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.9;
}

.container {
  padding: 0px;
 
  text-align:center;
}
.container p{
margin:1px;
padding:0px;
}

/* =======================================
                FLIGHT MODAL
==========================================*/
.flight_images_container{
  padding  : 1em;
  column-count: 4;
  
 }
 .flight_images_container img{
   width: 100%;
   margin-bottom: 1em;
  }
  .flight-card{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-bottom:2px solid #005288;
   transition: 0.3s;
   opacity: 1;
   width:270px;
 
   border-radius: 5px; 
 }
 .bio_top{
   margin-top: 12%;

   padding-bottom: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
.artist_bio{
  padding: 1rem;
}
.bio_text{
  display:inline-block;

}
.blackbar{
  position: absolute;
  top:-30px;
  height: 200px;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
}

/* =======================================
                   LAUNCH LIST
==========================================*/
.launch_container{
  
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;

}
@media all and (max-width: 373px) { 

  .launch_list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69%;

}
.banner .main_cover {
  height: 350px;
   }
   header{
     position: relative;
     top:0px;
     left:0px;
    z-index: 2;
     
   }
   
  header img {
    width: 288px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.banner .main_cover{
  margin-left: 0px;
  justify-content: space-evenly;

}

.banner .logo{
  width: 107%;
  height: 10%;
  align-content: center;
  top:65%;
  font-size: 0.34rem;
  border-radius: 2px;
}
.card-left{
  font-size: 0.7rem;
 
}

.card-right div {
  padding-left:7px;
  padding-right:7px;
  margin-left: 0px;
  height: 100%;
  line-height: 0.6rem;
}

}

@media all and (min-width: 373px)  and (max-width: 767px) { 

  .launch_list{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 69%;
  
  }
  .banner .main_cover {
    height: 350px;
     }
     header{
       position: relative;
       top:0px;
       left:0px;
      z-index: 2;
       
     }
     
    header img {
      width: 288px;
      height: 80px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
  .banner .main_cover{
    margin-left: 0px;
    justify-content: space-evenly;

  }
  
  .banner .logo{
    width: 107%;
   
    align-content: center;
    top:65%;
    font-size: 0.44rem;
  }
  .card-left{
    font-size: 0.8rem;
   
  }

  .card-right div {
    padding-left:7px;
    padding-right:7px;
    margin-left: 0px;
    height: 100%;
    line-height: 1.3rem;
}
  
  }
  



@media all and (min-width: 768px) and (max-width: 805px) { 
   .card-right{
  width: 65%;
  display: inline-flex;
 }

.banner .logo{
  display: inline-flex;
  left: -60%;
    width: 157%;
    align-content: center;
    top:65%;
    font-size: 0.5rem;
  }
  .card-left{
    font-size: 0.8rem;
   
  }
  .card-right div {
    padding-left:7px;
    padding-right:7px;
    margin-left: 0px;
    height: 100%;
    line-height: 1.3rem;
}

}


@media all and (min-width: 806px) and (max-width: 1055px) { 

  
.banner .logo{
  display: inline-flex;
  left: -330px;
    width: 157%;
    align-content: center;
    top:65%;
    font-size: 0.5rem;
  }
  .card-left{
    font-size: 1.3rem;
   
  }


}


@media all and (min-width: 1055px) and (max-width: 1225px) { 

.banner .logo{
  display: inline-flex;
 margin-left: -40%;
    width: 157%;
    align-content: center;
    top:65%;
    font-size: 0.5rem;
  }
  .card-left{
    font-size: 1.3rem;
   
  }


}
@media all and (min-width: 1225px) and (max-width: 1410px) { 

  
.banner .logo{
  display: inline-flex;
 margin-left: -40%;
    width: 157%;
    align-content: center;
    top:65%;
    font-size: 0.5rem;
  }
  .card-left{
    font-size: 1.3rem;
   
  }


}
